.navbar-custom {
    background-color: black;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: orange;
}
.navbar-custom .nav-link:hover {
    color: white;
}
.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

head{
background-color: black;

.navbar-custom {
    background-color: black;
}
.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: orange;
}
.navbar-custom .nav-link:hover {
    color: white;
}
.content {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 20px; 
}

.table {
    width: 100%; /* Make the table take full width of the column */
    max-width: 50%; /* Limit the table width to half the page */
    margin: 20px 0; /* Add some margin for spacing */
}

.table-dark {
    background-color: black; /* Set the background color to black */
    color: white; /* Set the text color to white for contrast */
}


}

body {
    background-color: orange; }

    footer {
    text-align: center; padding: 10px; font-size: small; position: fixed; bottom: 0; width: 100%; background-color: #080808 
    
    }

    html {
        scroll-behavior: smooth;
      }
    
      .table {
        width: 50%;
        margin-top: 20px;
    }

    .container-1{
        margin-left:-10px ;
       margin-top: -20px;
       color: black;
    }
    .table-dark {
        color: white;
        background-color: #343a40;
    }
     
    .table-dark td{
        background-color: black;
    }
   
    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }
    
   
    